<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../styles/admin.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../styles/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <div class="navigation__wrapper">
                <div class='container'>
                <div><a href="../../index.html" id="header-title">Politico</a></div>
                <!--<div class='nav-link'><a href="./.html">Create Government office</a></div>-->
                <div class="nav-link dropdown">
                        <button class="dropbtn">&#9776; 
                        </button>
                        <div class="dropdown-content">
                          <a href="#">Dashboard</a>
                          <a href="./create-office.html">Create government office</a>
                          <a href="#">Logout</a>
                        </div>
                      </div> 
                </div>
            </div>
        </nav>
    </header>

    <section id="gov-office">
        <div class="container">
            <h1 id = 'head'>Welcome!</h1>
            <p id='alert'></p>
            <form id='party-form'>
                <h2 id='head2'>Create a political party</h2>
                <div>
                        <label for='title'>Name</label>
                        <input type='text' id='name' name='name' required>
                </div>
                <div>
                        <label for='title'>HQ Address</label>
                        <input type='text' id='hqAddress' name='hq address' required>
                </div>

                <div>
                        <label for='title'>Logo</label>
                        <input type='file' id='logo-input' name="image">
                </div>

                <div id='submitButton'>
                    <input type="submit" value='Submit'>
                </div>
    
    
            </form>
            
            
            <div id='show-party'>
                <h2>Created Political Parties</h2>
            <table cellpadding="10px">
                <thead>
                    <tr>
                        <th id='isbn'>ISBN#</th>
                        <th id='logo-head'>Logo</th>
                        <th>Name</th>
                        <th>HQ Address</th>
                        <th></th>
                        <th></th>  
                    </tr>
                </thead>
                <tbody id='party-list'>
                    <tr>
                        <td>1</td>
                        <td id='logo1'><i class="fas fa-american-sign-language-interpreting" id='logo1'></i></td>
                        <td>ADC</td>
                        <td>Ikeja, Lagos</td>
                        <td>edit</td>
                        <td>delete</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td id='logo1'><i class="fas fa-people-carry" id='logo1'></i></td>
                        <td>People party PA</td>
                        <td>Abuja</td>
                        <td>edit</td>
                        <td>delete</td>
                    </tr>
                </tbody>    
            </table>
        </div>

        </div>        
    </section>

    <br>

	<footer>
		<div class="container">
			<div class='content'>	
			<p class='copy'>Copyright &copy; 2019 Politico
							<span>Politico is a product of Olutimedia, LLC.</span></p>
			</div >
			<div class='contents'>
			<p class="terms">Terms of Service</p>
			<p>Privacy Policy</p>	
			</div>
			</div>
	</footer>
</body>
</html>