#gov-office{
    margin-top: 25px;
}

#head{
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    color: black;
}

#head2{
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    margin: .5rem 0;
}

#office-form {
    max-height: 300px;
    margin: 2rem auto;
    width: 600px;
}

input {
    display: block;
    width: 100%;
    border: 3px solid silver;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    margin: 3px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td{
    text-align: center;
    padding: 15px;
    border: 2px solid silver;
}
tbody{
    background: rgba(209, 209, 209, 0.5);
    border-radius: 10px;
}

th {
    border: 2px solid silver;
    text-align: center;
    padding: 5px;
}

tr th:nth-child(1){
    width: 60px;
    text-align: center;
}

tr td:nth-child(1){
    color: black;
    background: white;
}

tbody td {
    text-align: left;
}

#submitButton {
    margin-top: 10px;
}

#isbn{
    margin: 0;
    padding: 0;
    width: 30px;
}

.edit, .delete{
    text-align: center;
}


.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px o;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}


  
  @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "ISBN#"; }
	td:nth-of-type(2):before { content: "Name"; }
	td:nth-of-type(3):before { content: "Type"; }
	td:nth-of-type(4):before { content: ""; }
    td:nth-of-type(5):before { content: ""; }
}