#user-section{
    margin-top: 50px;
    font-size: 20px;
}

section a{
    color: green;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}


.user-nav{
    display: inline-block;
    letter-spacing: 1.5px;
}

.box1{
    display: inline-block;
    padding-right: 40px;
}

#user-logo{
    color: green;
    font-size: 6em;
}

section{
  margin: 10px;
  height: 250px;
}

#party-section{
  margin-top: 10rem;
  height: 600px;
}

.contain{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.party-wrapper{
  padding: .5rem 1rem;
  border: 1px solid rgba(0, 128, 0, 0.5);
  border-radius: .25rem;
  margin-top: 10px;
  width: 45%;
}

h4{
  color: #1d394a;
  margin: 0.5rem 0;
}
.party-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(29, 57, 74, 0.1);
  height: 3.5rem;
  margin: .5rem 0;
}

#show-party-s{
  height: 100%;;
}
#party-btn{
  margin-top: 25px;
}

#logo1{
  color: black;
  font-size: 2em;
  margin:0;
}

#show-party-s, 
#show-candidates, 
#show-votes,
#join-election{
  text-align: center;
  margin: 25px;
}

#show-party-s p:nth-child(1), 
#show-candidates p, 
#show-votes p{
  color: green;
  font-size: 20px;
  border-bottom: 0.5px solid silver;
}


#join-election p{
  color: green;
  font-size: 20px;
}

.party-details p{
  margin: .5rem 0;
  text-decoration: none;
}

#show-party-s button, 
#show-candidates button, 
#show-votes button,
#join-election button{
  height: 2rem;
  width: 15rem;
  border: 1px solid #117d5a;
  background: #117d5a;
  border-radius: .25rem;
  margin: -0.3rem 0;
}

#btn{
  text-decoration: none;
  color:white;
  font-size: 1.3rem;
  font-weight: 600;
}

.votes-count{
  margin-left: 40%;
  margin-bottom: 20px;
  text-align: center;
  padding: 40px 40px 30px 40px;
  font-size: 3em;
  border: 1.2px solid silver;
  box-shadow: 3px 5px 5px -4px silver;
  height: 75px;
  width: 90px;
}

#vote-section{
  height: 300px;
}

#politician-section{
  margin-top: 5rem;
  background-color: rgba(206, 206, 206, 0.3); 
  border: 0.5px solid rgb(156, 142, 142);
  width: 80%;
  margin: auto;
}

#politician-section span{
  color: red;
}


/* The dropdown container */
.dropdown {
    overflow: hidden;
  }
  


@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .container {
    width: 120px ;
  }
  .dropdown {
    margin-right: 55px;
  }
}
@media screen and (min-width: 320px) and (max-width: 580px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .container {
    width: 100%;
  }
  #party-section{
    margin-bottom: 5rem;
  }
  .party-wrapper{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .votes-count{
    margin-left: 25%;
    padding: 40px 40px 30px 40px;
    width: 90px;
  }
  #vote-section{
    margin-top: 15rem;
  }
}
@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  .container {
    width: 100%;
  }
  .dropdown {
    margin-right: 35px;
  }
  .votes-count{
    padding: 40px 40px 30px 40px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 90px;
  }
}