<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create political office</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../styles/create-office.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../styles/style.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
	<div class="hold">
	<header>
		<nav>
			<div class="navigation__wrapper">
				<div class='container'>
				<div><a href="../../index.html" id="header-title">Politico</a></div>
				<div class="nav-link dropdown">
					<button class="dropbtn">&#9776;
					</button>
					<div class="dropdown-content">
						<a href="./admin.html">Dashboard</a>
						<a href="./create-office.html">Create government office</a>
						<a href="#">Logout</a>
				</div>
				</div> 
				</div>
			</div>
		</nav>
	</header>

	<section id="edit-office">
		<div class="container">
			<p id='alert'></p>
			<form id='office-form'>
				<h2 id='head2'>Edit government office</h2>
				<div>
							<label for='title'>Name</label>
							<input type='text' id='name' name='name' required>
				</div>
				<div>
						<label for='title'>Type</label>
						<select id='office-type' name='office-type' required>
							<option selected disabled hidden>Select Office Type</option>
							<option value="federal">Federal Government</option>
							<option value="legislative">Legislative Government</option>
							<option value="state">State Government</option>
							<option value="local">Local government</option>
						</select>
				</div>

				<div id='submitButton'>
					<input type="submit" value='Edit Office'>
				</div>


			</form>

		</div>        
	</section>
	</div>

	<footer>
		<div class="container">
		<div class='content'>	
			<p class='copy'>Copyright &copy; 2019 Politico
			<span>Politico is a product of Olutimedia, LLC.</span></p>
		</div >
		<div class='contents'>
			<p class="terms">Terms of Service</p>
			<p>Privacy Policy</p>	
		</div>
		</div>
	</footer>

</body>
</html>