<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>View Candidates</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../../styles/view-candidates.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../styles/style.css" />
</head>
<body>
  <header>
    <nav>
      <div class="navigation__wrapper">
        <div class='container'>
        <div><a href="../../index.html" id="header-title">Politico</a></div>
        <div class="nav-link dropdown">
            <button class="dropbtn">&#9776; 
            </button>
            <div class="dropdown-content">
              <a href="./user-dashboard.html">Dashboard</a>
              <a href="./user-vote.html">Vote</a>
              <a href="./view-candidates.html">View candidates</a>
              <a href="#">Logout</a>
            </div>
          </div> 
        </div>
      </div>
    </nav>
  </header>

  <section class="party-section">
    <div class="container">
      <h2>All political parties</h2>
      <div class="contain">
      <div class="party-wrapper">
      <div class="party-details">
        <h4>Party name:</h4>
        <p>ADC</p>
      </div>
      <div class="party-details">
        <h4>HQ Address:</h4>
        <p>Ikeja, Lagos</p>
      </div>
      <div class="party-logo">
        <h4>Logo</h4>
        <p>ADC</p>
      </div>
      </div>

    <div class="party-wrapper">
      <div class="party-details">
        <h4>Party name:</h4>
        <p>ADC</p>
      </div>
      <div class="party-details">
        <h4>HQ Address:</h4>
        <p>Ikeja, Lagos</p>
      </div>
      <div class="party-logo">
        <h4>Logo</h4>
        <p>ADC</p>
      </div>
    </div>

    <div class="party-wrapper">
      <div class="party-details">
        <h4>Party name:</h4>
        <p>ADC</p>
      </div>
      <div class="party-details">
        <h4>HQ Address:</h4>
        <p>Ikeja, Lagos</p>
      </div>
      <div class="party-logo">
        <h4>Logo</h4>
        <p>ADC</p>
      </div>
    </div>

    <div class="party-wrapper">
      <div class="party-details">
        <h4>Party name:</h4>
        <p>ADC</p>
      </div>
      <div class="party-details">
        <h4>HQ Address:</h4>
        <p>Ikeja, Lagos</p>
      </div>
      <div class="party-logo">
        <h4>Logo</h4>
        <p>ADC</p>
      </div>
    </div>

    </div>
    </div>

  </section>
  
  <footer>
    <div class="container">
      <div class='content'>	
      <p class='copy'>Copyright &copy; 2019 Politico
        <span>Politico is a product of Olutimedia, LLC.</span></p>
      </div >
      <div class='contents'>
      <p class="terms">Terms of Service</p>
      <p>Privacy Policy</p>	
      </div>
      </div>
  </footer>
</body>
</html>