<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vote Page</titl></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../styles/vote-page.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../styles/style.css" />
</head>
<body id="vote-body">
  <header>
    <nav>
      <div class="navigation__wrapper">
        <div class='container'>
        <div><a href="../../index.html" id="header-title">Politico</a></div>
        <div class="nav-link dropdown">
        <button class="dropbtn">&#9776; 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="./user-dashboard.html">Dashboard</a>
            <a href="./view-candidates.html">View Candidates</a>
            <a href="#">Logout</a>
        </div>
        </div> 
      </div>
      </div>
    </nav>
    </header>

    <section class="vote-section">
      <div class="container">
        <h2>Vote</h2>
      <form id="vote-form" class="vote-wrapper">
        <p>Enter choice of candidate and political office</p>

        <div class="vote-details">
          <label for='title'><h4>Government office</h4></label>
          <select id='office-type' name='government office' required>
            <option selected disabled hidden>Select Office</option>
            <option value="office">President</option>
            <option value="office">Local Government chairman</option>
            <option value="office">Governor</option>
            <option value="office">Senate</option>
          </select>
        </div>

        <div class="vote-details">
          <label for='title'><h4>Political party</h4></label>
          <select id='office-type' name='government office' required>
            <option selected disabled hidden>Select Party</option>
            <option value="party">UCP</option>
            <option value="party">APC</option>
            <option value="party">ADD</option>
            <option value="party">PDP</option>
          </select>  
        </div>

        <div class="vote-details">
          <label for='title'><h4>Name of candidate</h4></label>
          <input type="text" name="name" id="candidates-name" placeholder="enter choice" equired>
        </div>  

        <div id='submit-button'>
            <input type="submit" value='Vote'>
        </div>

      </form>
      
      </div>
    </section>

    <section class="party-section">
      <div class="container">
        <h2>Votes record</h2>
        <div class="contain">
        <div class="party-wrapper">
        <div class="party-details">
          <h4>Political office:</h4>
          <p>Governor</p>
        </div>
        <div class="party-details">
          <h4>Candidates name:</h4>
          <p>Jide Jimoh</p>
        </div>
        <div class="party-details">
          <h4>Political Party:</h4>
          <p>APC</p>
        </div>
        </div>
  
      <div class="party-wrapper">
        <div class="party-details">
          <h4>Political office:</h4>
          <p>Governor</p>
        </div>
        <div class="party-details">
          <h4>Candidates name:</h4>
          <p>Jide Jimoh</p>
        </div>
        <div class="party-details">
          <h4>Political Party:</h4>
          <p>ADD</p>
        </div>
      </div>
  
      <div class="party-wrapper">
        <div class="party-details">
          <h4>Political office:</h4>
          <p>Governor</p>
        </div>
        <div class="party-details">
          <h4>Candidates name:</h4>
          <p>Jide Jimoh</p>
        </div>
        <div class="party-details">
          <h4>Political Party:</h4>
          <p>PDP</p>
        </div>
      </div>
  
      <div class="party-wrapper">
        <div class="party-details">
          <h4>Political office:</h4>
          <p>Governor</p>
        </div>
        <div class="party-details">
          <h4>Candidates name:</h4>
          <p>Jide Jimoh</p>
        </div>
        <div class="party-details">
          <h4>Political Party:</h4>
          <p>UCP</p>
        </div>
      </div>

      <div class="party-wrapper">
        <div class="party-details">
          <h4>Political office:</h4>
          <p>Governor</p>
        </div>
        <div class="party-details">
          <h4>Candidates name:</h4>
          <p>Jide Jimoh</p>
        </div>
        <div class="party-details">
          <h4>Political Party:</h4>
          <p>APC</p>
        </div>
      </div>
  
      </div>
      </div>
  
    </section>
  
  <footer>
    <div class="container">
      <div class='content'>	
      <p class='copy'>Copyright &copy; 2019 Politico
          <span>Politico is a product of Olutimedia, LLC.</span></p>
      </div >
      <div class='contents'>
      <p class="terms">Terms of Service</p>
      <p>Privacy Policy</p>	
      </div>
      </div>
    </footer>
</body>
</html>