<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>View Candidates</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../../styles/view-candidates.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../styles/style.css" />
</head>
<body>
  <header>
    <nav>
    <div class="navigation__wrapper-a">
            <div class='container'>
            <div><a href="../../index.html" id="header-title">Politico</a></div>
            <div class='nav-link'><a href="#">Logout</a></div>
            <div class='nav-link'><a href="./user-vote.html">Vote</a></div>
            <div class='nav-link'><a href="./user-dashboard.html">Dashboard</a></div>
            </div>
            </div> 
      <div class="navigation__wrapper-b">
        <div class='container'>
        <div><a href="../../index.html" id="header-title">Politico</a></div>
        <div class="nav-link dropdown">
            <button class="dropbtn">&#9776; 
            </button>
            <div class="dropdown-content">
              <a href="./user-dashboard.html">Dashboard</a>
              <a href="./user-vote.html">Vote</a>
              <a href="./political-party.html">View political parties</a>
              <a href="#">Logout</a>
            </div>
          </div> 
        </div>
      </div>
    </nav>
  </header>

  <section class="search-section">
  <div class='container'>
    <h1 id = 'head'>Welcome! view candidates</h1>
    <p id='alert'></p>
    <div class="search-office">
        <p id='head2'>Search for a specific government office to view all candidates</p>
        <div class="input-search">
            <label for="office-name">Input government office:</label>
            <input type='select' placeholder="Search government office" name="political office" id="office-name">
        </div>
        <div class="btn-div">
            <button id="login-btn">Search</button>
        </div>
    </div>
  </section>

  <section class="candidate-table">
    <div class="container">
    <div class='table-box'>
      <table cellpadding="10px">
        <tr>
            <th>Sr.No.</th>
            <th>Name</th>
            <th>Political Office</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Seun Gbadamosi</td>
            <td>ADC</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Seun Gbadamosi</td>
            <td>ADC</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Seun Gbadamosi</td>
            <td>ADC</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Seun Gbadamosi</td>
            <td>ADC</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Seun Gbadamosi</td>
            <td>ADC</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Seun Gbadamosi</td>
            <td>ADC</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Seun Gbadamosi</td>
            <td>ADC</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Seun Gbadamosi</td>
            <td>ADC</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Seun Gbadamosi</td>
            <td>ADC</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Seun Gbadamosi</td>
            <td>ADC</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Seun Gbadamosi</td>
            <td>ADC</td>
        </tr>
        </table>
    </div>
  </div>
</section>

  </div>

	<footer>
		<div class="container">
			<div class='content'>	
			<p class='copy'>Copyright &copy; 2019 Politico
					<span>Politico is a product of Olutimedia, LLC.</span></p>
			</div >
			<div class='contents'>
			<p class="terms">Terms of Service</p>
			<p>Privacy Policy</p>	
			</div>
			</div>
	</footer>
</body>
</html>