#vote-body{

    background-color: #6498bd;
}
.padded-body{
    background-color: white;
    height: 600px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.padded-body .box-i{
    width: 70%;
    margin: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 210px
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#edit-record:hover {
    color:red;
}
.delete {
    color: red;
}

.delete:hover{
    color:gray;
} 